@media (min-width: 0) and (max-width: 576px){
    .card-columns{
        column-count: 1;
    }

    /*search field and upload btn group */
    .searchAndUploadGroup{
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 992px){
    .card-columns{
        column-count: 3;
    }
}

@media (max-width: 768px){
    .mainWall{
        height: 50vw;
    }
    .mainWall .card-title{
        font-size: 1.25rem;
    }
    .mainWall .card-text{
        font-size: 1rem;
        margin: 0;
    }
}

/*profile tab***********************************************************************************/
@media (max-width: 992px){
    .profile-wrapper{
        width: 100%;
    }

    #notiWrapper{
        height: 40vh;
    }
}